JIRA_BASE_URL=https://starbemapp.atlassian.net
JIRA_EMAIL=jose.tenorio@starbem.app
JIRA_API_TOKEN=ATATT3xFfGF0JL7v_tkORaJin9LcJnNSSkaot0zaOXtj7RGke3LKHWK2JcmfCuibVhp7e4Wn32lkpqzW9e20Rp3NaHxKxpWZXndEgPDqCkyUg0VjhaKKnAbs5r7gUqWV7N3KXkvsVgS_4EJx9TqAAIEmnZE8rXti3uqxUXMb-8_MhtPb6xajXeU=1BDDD2AE
JIRA_PROJECT_KEY=ID
